body
{
	font-family: 'Roboto', sans-serif;
}
.baseLogin
{
	background-color: #94d192;
	width: 300px;
	height: 200px;
	margin: 50px auto;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;

}
.tituloLogin
{
	
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding: 10px 0 10px 0;
}
.textoLogin
{
	float: left;
	width: 100px;
	padding: 10px 0 10px 10px;
	text-align: right;
}
.inputLogin
{
	float: left;
	padding: 10px 0 10px 10px;
	text-align: right;
}
.errorLogin
{
	color: red;
	text-align: center;
	font-size: 12px;
}
.botonLogin
{
	clear: left;
	text-align: center;
	/*padding-top: 10px;*/
}
.botonLogin input[type=submit]
{
	background-color: #3c8639;
	border: none;
	color: white;
	padding: 10px 32px;
	text-decoration: none;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.enlacedescarga
{
	width: 100%;
	text-align: center;
	margin: 20px auto;
}
.enlacedescarga a
{
	background-color: #245f22;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
.enlacedescarga a:hover
{
	background-color: #1c4c1a;
}
.desconectar
{
	width: 100%;
	text-align: center;
	margin: 50px auto;
}
.desconectar a
{
	background-color: #f11c1c;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
.desconectar a:hover
{
	background-color: #b83636;
}